/* Arbitrary, but for future reference, all custom classes should follow the convention of using hyphens. No camel case, no underscores. This will help to reduce confusion for future media chairs. (This is also known as kebab case, because variables look like food skewered on a shish kebab.) */

/*
    ----------------------------------------------------
    Google Fonts
    This imports Roboto from Google fonts, allowing us to replace the ugly, poorly hinted Libre Franklin. We need to import each font weight separately instead of importing them all in the single file provided by Google Fonts, because multiple font weights imported in a single CSS file causes WordPress to throw a 404 error. We also need to ensure each imported URL doesn't have Google's default &display=swap at the end. This, too, causes WordPress to throw a 404 error.
    ----------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto');                 /* regular */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1');          /* italic */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700');        /* bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700'); /* bold italic */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900');        /* black */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900'); /* black italic */
/* End Google fonts stuff. */

:root{
    --CarSO-blue: #0094FF;
    --CarSO-light-blue: #AAE4FF;
}

.page, .site {
    font-family: 'Roboto',sans-serif;
}

.site-info { display: none; } /* do not delete this—this removes the "proudly powered by Wordpress" message */

/* WordPress Twenty-Seventeen has uppercase h1 titles by default. This changes the styles of h1 to whatever you set below */
.page .panel-content .entry-title, .page-title, body.page:not(.twentyseventeen-front-page) .entry-title {
    text-transform: none;
    letter-spacing: 0em;
    font-size: 350%; 
    text-align:center;
}

/* make home page header disappear */
#post-23 .entry-title {
    display: none;
}

/* gets rid of ugly space at top of home page */
.page.page-one-column .entry-header, .twentyseventeen-front-page.page-one-column .entry-header, .archive.page-one-column:not(.has-sidebar) .page-header {
    margin: 0;
}

.site-title {
    /* WordPress Twenty-Seventeen has uppercase site titles by default. That is, the front page used to scream "CAROLINA SCIENCE OLYMPIAD" all big and ugly. Setting text-transform to "capitalize" forces title case instead of all uppercase */
    text-transform: capitalize; 
    font-family: 'Segoe UI', 'Proxima Nova', 'Avenir', 'Open Sans', 'Oxygen', 'Helvetica Neue', 'Roboto', 'Ubuntu', 'Cantarell', sans-serif; /* font support for Windows, macOS, Chromebook, Ubuntu, GNOME */
    font-weight: bold; /* to prevent heavy weights */
    letter-spacing: 0; /* removes ugly default spacing */
}

/*
    ----------------------------------------------------
    Fancy <h2> section titles with hover transition
    ----------------------------------------------------
*/

h2 {
    font-weight: bold;
    font-size: 24pt;
    letter-spacing: 0.02em;
    color: var(--CarSO-blue);
    text-shadow: 0.5px  0.5px  var(--CarSO-light-blue), 
                   1px    1px  var(--CarSO-light-blue),
                 1.5px  1.5px  var(--CarSO-light-blue),
                   2px    2px  var(--CarSO-light-blue),
                 2.5px  2.5px  var(--CarSO-light-blue);
}

h2::after {
    height: 7px;
    width: 100px;
    margin-top: 10px;
    background-color: var(--CarSO-blue);
    content: "";
    display: block;
    transition: 0.7s ease;
    box-shadow: 0.5px  0.5px  var(--CarSO-light-blue), 
                  1px    1px  var(--CarSO-light-blue),
                1.5px  1.5px  var(--CarSO-light-blue),
                  2px    2px  var(--CarSO-light-blue),
                2.5px  2.5px  var(--CarSO-light-blue);
}

.half-width:hover > h2::after, h2:hover::after {
    width: 100%;
    transition: 0.6s ease;
}

/*
    ----------------------------------------------------
    Alert Carolina message
    Removes Alert Carolina banners, which scare you into thinking a scammer has hacked into your computer
    ----------------------------------------------------
*/
.alertCarolinaMessage { display:none; width:0; }

/* Alert Carolina automatically posts a message banner at the top of the screen. These messages are kind of freaky, especially if you're not at UNC and you're just looking for general information (e.g. about a SciOly invitational). This adds a custom message that provides context.

Note that we don't actually need this because the .alertCarolinaMessage is set to display:none
*/
.alertCarolinaMessage::after {
    white-space:pre-wrap; /* you need to set white-space in order to make line breaks (\A) work*/
    display:block; 
    content: "\A UNC's alert systems automatically posted the message above about a safety issue on campus. \A If you're not in Chapel Hill, the message may not apply.";
    text-align: right;
    font-size: 60%; 
}

/*
    ----------------------------------------------------
    Pseudobuttons
    A fake button UI that lets us link to something
    ----------------------------------------------------
*/
.pseudobutton {
    width: -moz-fit-content; 
    width: fit-content;
    margin: auto auto 20px auto;
}

.entry-content .pseudobutton a{
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
    border: 3px solid var(--CarSO-blue);
    background-color: var(--CarSO-blue);
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: 0.3s;
}

.pseudobutton:hover a, .pseudobutton:focus a {
    color: #333333;
    background-color: #FFFFFF; 
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* to have multiple pseudobuttons on the same line, surround each pseudobutton with <div class="multi-pseudobutton-container"> */
.multi-pseudobutton-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.multi-pseudobutton-container .pseudobutton {
    margin: auto 3px 20px 3px;
}

/*
    ----------------------------------------------------
    Fancy image with backdrop that fills with blue
    ----------------------------------------------------
*/

.fancy-image-container {
    display: inline-block;
    margin:auto;
    position: relative;
}

.fancy-image-container img {
    width: 90%;
    height: auto;
    position: relative;
    z-index: 2;
    user-select: none;
    -webkit-user-drag: none;
}

.fancy-image-backdrop {
    width: 90%;
    height: 98%;
    position: absolute;
    top: 13px;
    left: 13px;
    z-index: 0;
    background-color: rgba(0,0,0,0);
    border: 3px solid var(--CarSO-blue);
}

.fancy-image-backdrop::before {
    background-color: var(--CarSO-blue);
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    z-index: 1;
    transition: 0.7s ease;
}

/* A variant of fancy-image-backdrop, where the backdrop is to the left rather than to the right of the image 
   Unlike the normal fancy-image-backdrop, this CSS is a little broken for reasons I don't understand, so don't use it *too* much
*/
.fancy-image-backdrop-left {
    width: 90%;
    height: 98%;
    position: absolute;
    top: 12px;
    left:-13px;
    z-index: 0;
    background-color: rgba(0,0,0,0);
    border: 3px solid var(--CarSO-blue);
}

.fancy-image-backdrop-left::before {
    background-color: var(--CarSO-blue);
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    z-index: 1;
    transition: 0.7s ease;
}

/* Classes for blue rectangle fill transition behind images: one class wipes rightwards, and the other wipes upwards. The apparent fill occurs when a pseudoelement grows from an element of either zero width or zero height into an element of 100% width of 100% height, thereby creating the appearance of a box being filled by a blue rectangle */
.fill-rightwards::before {
    width: 0;
    height: 100%;
    transition: 0.6s ease;
}

.fill-upwards::before {
    width: 100%;
    height: 0;
    transition: 0.6s ease;
}

.fancy-image-container:hover .fill-rightwards::before {
    width: 100%;
}

.fancy-image-container:hover .fill-upwards::before {
    height: 100%;
}

/*
The fancy-image-left-half and fancy-image-right-half classes are applied to two side-by-side images on the main page. Note that these both use align-self, which only works inside an element where `display` is `flex` or `inline-flex`. I've also arbitrarily decided that each can have a maximum width of 300px, but this can be a disadvantage for large monitors
*/
div.fancy-image-left-half {
    align-self: flex-start;
    margin-right: auto;
    max-width: 300px;
}

div.fancy-image-right-half {
    align-self: flex-end;
    margin-left: auto;
    max-width: 300px;
}

/* this style serves no purpose in the test html files, but because WordPress automatically adds empty <p> elements, we need this style to effectively delete these empty <p> elements */
.fancy-image-container p {
    display: none;
}

/*
    ----------------------------------------------------
    Custom home page
    ----------------------------------------------------
*/
.page-id-23 .panel-content .wrap {
    width: 1600px;
    max-width:90%;
    /*margin:0;*/
}

.half-width {
    width: 48%;
    display: inline-block;
}

.flex-wrap {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.flex-wrap-reverse {
    display: inline-flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-bottom: 100px;
}

/*
    ----------------------------------------------------
    Custom 404 page
    ----------------------------------------------------
*/
.error-404 .page-content p { font-size:0; }
.error-404 .page-content p::before {
    font-size:12pt;
    white-space:pre-wrap;
    hyphens:auto;
    content:"Uh-oh: it’s the classic mystery of the 404. This page has gone missing, and we have zero idea where it got lost to. Sorry about that! \A\A However, while snooping around for your page, we did find a few other things: some magnesium sulfate, low-density polyethylene, squirrel hair, dipteran larvae, a fingerprint with a radial loop, and a suitcase full of money (aka SciOly tests). Maybe with these clues, you can figure out what happened to your page? \A\A Or you could use the search bar below. That works too.";
}

.error-404 h1 {
    margin-bottom: 0px;
    color: var(--CarSO-blue);
    font-size: 270%;
}

.error-404 h1.page-title::after {
    content: " ";
    display: block;
    background-image: url(https://scioly.web.unc.edu/wp-content/uploads/sites/22331/2020/07/fingerprint404.png);
    background-size: 234px 96px;
    background-repeat: no-repeat;
    white-space: pre;
    height: 120px;
    width: auto;
    background-position-x: center;
    background-position-y: bottom;
    margin-top: 12px;
    padding-top: 12px;
}

/*
    ----------------------------------------------------
    Top navigation menu
    ----------------------------------------------------
*/

#wp-custom-header img { filter: contrast(0.8); }

/* begin fancy top menu. This makes the top menu with "Home", "Volunteering", "Contact", etc. much fancier */
#top-menu .menu-item{ 
    transition:0.5s; /* set time for hover transition to half a second. This has been obsoleted in the 2023 website redesign */
} 
#top-menu .menu-item a{ /* make font blue and bigger */
    color:var(--CarSO-blue);
    font-size: 125%;
} 

#top-menu .menu-item::before{
    border-bottom: solid rgba(0,0,0,0);
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 100%;
    content: "";
    z-index: -2;
    transition: background-color 0.5s ease,
                width            0.5s ease,
                right            0.5s ease,
                border-bottom    0.5s step-end;
}
#top-menu .menu-item:hover::before { /* on hover, menu items get white background rectangle */
    background-color: white;
    border-bottom: solid 5px var(--CarSO-blue);
    width: 100%;
    right:0;
    transition: background-color 0.3s ease,
                width            0.3s ease,
                right            0.3s ease;
}

.navigation-top { background:none; border-top:none; border-bottom: 1px solid #ccc;} /* front page becomes purely picture when loaded; no white bar at bottom of screen */

.site-header {background-color: white;}
.navigation-top.site-navigation-fixed{ background-color:white; }

/* end fancier top menu CSS. If a future WordPress Twenty-Seventeen update happens to destroy the functionality of this fancy design, the code above can be deleted to restore the top menu to how it originally was (it'll prob never happen because WordPress doesn't just go revamping old themes, and UNC ITS would need to download it too) */

/* social media icons at the bottom of the page are CarSO blue instead of black when mouse hovers them */
.social-navigation a{ transition:0.3s; }
.social-navigation a:hover, .social-navigation a:focus { background-color: var(--CarSO-blue); }

/*
    ----------------------------------------------------
    Executive board photos and bios
    ----------------------------------------------------
*/

/* the div that contains the name, position, and biography of each executive board member. All the other classes beginning with "exec" are descendants of this class */
.exec-container {
    width: 100%;
    max-width:364px;
    margin: 2em auto;
    vertical-align: bottom;
    text-align:center;
    display: inline-block;
}

.exec-container > p {margin: 0 0 0.5em 0;} /* reduces the annoying vertical spaces from auto-generated WordPress <p> elements */

/* a class applied to an img */
.exec-photo {
    width:300px;
    height:300px;
    object-fit: cover;
    filter: blur(0);
    transition: 0.5s;
    user-select: none;
    -webkit-user-drag: none;
}

/* a div class that contains the image and text */
.exec-photo-wrapper {
    position: relative;
    height: 300px;
    width: 300px;
    left: 50%;
    transform: translateX(-50%); /* centers the photo */
    overflow: hidden;
}

/* if a hovered exec-photo-wrapper contains an exec-photo, then blur the photo*/
.exec-container:hover .exec-photo {
    filter: blur(2px);
}

/* if a hovered exec-photo-wrapper contains an exec-biography, then change the exec-biography to visible (by default, its visibility is hidden) */
.exec-container:hover .exec-biography {
    visibility: visible;
    opacity: 0.8;
}

/* a div class that contains the biographical text for each executive board member */
.exec-biography{
    position: absolute;
    top: 0;
    bottom: 0;
    background: #424242;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    scrollbar-width: thin; /* already works in Firefox; experimental support for Edge */
    padding: 0.5em;
    text-align: left;
    hyphens: auto;
    transition: 0.5s;
}

/* custom scrollbars that only work on Chrome, Safari, and the new Edge. These reduce clutter on the exec bios where scrolling is needed, and it's better to have nice scrollbars in some browsers rather than ugly scrollbars in all browsers */
.exec-biography::-webkit-scrollbar {
    width: 6px;
}

.exec-biography::-webkit-scrollbar-thumb{
    background:#aaaaaa;
}

/* sets the styles for the "Meet the Team" page ONLY. All WordPress pages have a unique numerical ID, so this code only applies to the Meet the Team page. If for some reason we created a new page for executive board biographies, then it wouldn't have id 87, and so the photos and biographies wouldn't display correctly. */
.page-id-87 #content > div.wrap {
    max-width:90%; /* don't want to go overboard by setting it to 100%. I've tested it on Chromium Edge and it gives no problem, but I feel like somehow something bad will happen on some other browser. 90% still keeps some margin area on wide screen broswers, which is good, whereas 100% does not. */
}
.page-id-87 #content > div.wrap > .content-area {
    max-width: 100%;
    text-align:center;
}
.page-id-87 #content > div.wrap > .content-area h1 {
    text-align: center;
    font-size: 300%;
}

.placeholder { font-size: 0; height: 0; }

/* special styling just for the "Meet the Team" page */
.page-id-87 h2 {
    margin-bottom: 13px;
}

.page-id-87 h2::after {
    margin: 10px auto 0 auto;
}

.page-id-87 .exec-container:hover h2::after {
    width: 300px;
}

.page-id-87 strong {
    font-size: 120%;
}

/*
    ----------------------------------------------------
    Responsive UI
    ----------------------------------------------------
*/
@media only screen and (max-width: 768px) {
    .responsive-width-100percent {
        width: 100%;
        /*min-width: 603px;*/
    }
}

/* the styles below create responsive tables such that when you view the website on a smartphone, the table rows automatically stack themselves vertically. This is especially useful for the Executive Board biographies found on the "Meet the Team" page—the bios will be in two columns on large browsers, but when space is limited (like on smartphones) the two columns collapse into one*/
@media only screen and (max-width: 48em)
{
    .navigation-top {
        background:#ffffff;
        border-top:1px solid #eee;
    }
    .page .panel-content .entry-title, .page-title, body.page:not(.twentyseventeen-front-page) .entry-title {
        font-size: 250%; 
    }
    .error-404 h1.page-title::after {
        border-top: var(--CarSO-light-blue) solid 5px;
    }
    /*
    .page-id-87 #content > div.wrap > .content-area {
        max-width: 100%;
        text-align:center;
    }*/
}